#banner:after{
	background-image: url(../images/overlay.png);
	background-size: 100%;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
    background: #1C1D26;
}
table th {
    text-align: center;
}
.center{text-align: center;}


/*============ common css ================*/
 #overview{
 	width: 100%;
 	position: fixed;
 	min-height: 200px;
 	top: 60px;
 	z-index: 100;
 	background-color: rgba(255,255,255,0.8);
 	color: #171820;
 	max-height: 630px;
 	overflow-y: scroll;
 }

#overview .title{
	color: rgb(228, 76, 101);
	font-size: 16px;
	font-weight: bold;
}
#overview a.text{color: #171820;font-weight: bold;}
#overview li{padding-left: 10px;list-style: none;}
